footer {
    background: #1b262f;
    padding-top: 31px;
    padding-bottom: 31px;
    .footer-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .d10 {
        display: flex;
        align-items: center;
        column-gap: 64px;
        .footer-links {
          display: flex;
          align-items: center;
          column-gap: 40px;
          a {
            color: rgb(251, 252, 254, 0.7);
            text-decoration: none;

            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
      .footer-icons {
        display: flex;
        column-gap: 20px;
      }
    }
  }


  
  @media (max-width: 590px) {
    .footer-content {
      flex-direction: column;
      align-items: baseline !important;
      gap: 40px;
    }
  }
  @media (max-width: 480px) {
    .footer-content {
      .d10 {
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        align-items: baseline !important;
        gap: 25px;
        margin-bottom: 40px;
      }
    }
    .footer-links{
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }
    .logo{
        margin-bottom: 40px;
    }
    .footer_link{
        margin-bottom: 31px;
    }
    .nav-btn {
      .btn1 {
        display: none !important;
      }
      .toggle {
        padding-top: 0px !important;
      }
    }
    .footer-icons{
        margin-right: auto;
        margin-left: auto;
    }
  }
  @media (max-width:475px) {
    .footer{
      background-repeat: no-repeat;
      background-image: url('/img/footer-bg-m.png');
      background-size: contain;
      background-position: bottom center;
    }
  }